@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: "Ubuntu-italic";
    src: url("../fonts/Ubuntu-italic.ttf");
}
@font-face {
    font-family: "Ubuntu-bold";
    src: url("../fonts/Ubuntu-Bold.ttf");
}
@font-face {
    font-family: "Ubuntu-light";
    src: url("../fonts/Ubuntu-Light.ttf");
    font-weight: 300;
}
* {
    box-sizing: border-box;
}
body {
    font-family: Ubuntu, Arial, sans-serif;
    background-color: #eeeeee;
 }
.container {
    padding: 0 45px;
}
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*justify-content: space-between;*/
    /*align-items: center;*/
}